.expense-styled{
    display: flex;
    overflow: auto;
}

.total-expense{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    gap: .5rem;
}

.total-expense span{
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-green);
}

.expense-content{
    display: flex;
    gap:0.5rem ;
}


.expenses{
    flex:1;
}



   