.form-container{

    display: flex;
    justify-content: center;
    gap: .5rem;


}

.btn{
    background-color: var(--color-accent);
    color: #fff;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
    padding: 0.8rem;
    border-radius: 30px;
}

label{
    margin: 1rem;
}

.trans-container{
    margin-top: 5px ;
    display: flex;
    gap: 0.3rem;
}