
.nav-styled{
    height: 100%;
    width: 374px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(252, 246, 249, 0.78);
    border: 3px solid #FFFFFF;
    border-radius: 32px;
    backdrop-filter: blur(4.5px);
    padding: 2rem 1.5rem;
    backdrop-filter: blur(4.5px);
    gap: 2rem;
} 


.user-container{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    background: #fcf6f9;
    border: 2px solid #FFFFFF;
    padding: .2rem;
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.06);
}

.user-container h2{
    color: rgba(34, 34, 96, 1);
}

.user-container p{
    color: rgba(34, 34, 96, 0.6);
}


.menu-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menu-items li{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    margin: .6rem 0;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease-in-out;
    color: rgba(34, 34, 96, .6);
    padding-left: 1rem;
    position: relative;
}

.menu-items li i{
    color: rgba(34, 34, 96, 0.6);
    font-size: 1.4rem;
    transition: all .4s ease-in-out;
}

.active{
    color: rgba(34, 34, 96, 1) !important;
}

.active i{
    color: rgba(34, 34, 96, 1) !important;
}

.active i::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #222260;
    border-radius: 0 10px 10px 0;
}


